.usersidebar {
  width: 20%;
  height: 100vh;
  background-color: rgb(75, 65, 219);
  padding: 20px;
}
.usersidebar .details {
  width: 90%;
  background-color: rgb(127, 127, 224);
  border-radius: 5px;
  height: 100px;
  color: white;
  padding: 10px;
  display: flex;
}
.usersidebar .contents {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 30px;
}
.usersidebar .contents p {
  padding: 10px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 10px;
}
.usersidebar .contents p:hover {
  padding: 10px;
  background-color: red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 10px;
}
.usersidebar .details .name {
  font-size: 12px;
  margin-top: 3px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.usersidebar .details img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.link {
  text-decoration: inherit;
  color: inherit;
}
